.right__log__message{ message_id: "#{message.id}" }
  .right__log__message__name
    = message.user.name

  .right__log__message__date
    = message.created_at

  .right__log__message__body
    = message.body
    = image_tag message.image_url if message.image?
