= render partial: "groups/left", locals: {groups: @groups}

.right
  .right__group
    .right__group__user
      .right__group__user__name
        = @group.name
      .right__group__user__members
        %ul
          Member:
          - @group.users.each do |user|
            %li<
              = user.name
    .right__group__edit
      = link_to edit_group_path(@group) do
        .right__group__edit__button
          Edit
  .right__log
    - @messages.each do |message|
      = render partial: "messages", locals: { message: message }
  .right__form
    = form_for(@chat) do |f|
      = f.text_field :body, class: "right__form__text", placeholder: "type message"
      = f.label :image , class: "right__form__image" do
        = fa_icon "image"
      = f.file_field :image , style: "display:none;"
      = f.submit "Send", class: "right__form__submit"
