%div.left
  %div.left__user
    %div.left__user__name
      = current_user.name
    %div.left__user__edit
      = link_to edit_user_path(current_user.id) do
        = fa_icon 'cog'
      = link_to new_group_path do
        = fa_icon 'edit'
  %div.left__groups
    = render @groups

%div.right
  %div.right__group
    %div.right__group__user
      %div.right__group__user__name
        = @group.name
      %div.right__group__user__members
        %ul
          Member:
          - @group.users.each do |user|
            %li<
              = user.name
    %div.right__group__edit
      = link_to edit_group_path(params[:group_id]) do
        %div.right__group__edit__button
          Edit
  %div.right__log
    - @messages.each do |message|
      = render partial: "messages", locals: { message: message }
  %div.right__form
    = form_for(@chat) do |f|
      = f.text_field :body, class: "right__form__text", placeholder: "type message"
      = f.label :image , class: "right__form__image" do
        = fa_icon "image"
      = f.file_field :image , style: "display:none;"
      = f.submit "Send", class: "right__form__submit"
