= form_for group do |f|
  - if group.errors.any?
    .group-form__errors
      %h2
        = group.errors.count
        件のエラーが発生しました。
        %ul
          - group.errors.full_messages.each do |msg|
            %li
              = msg
  .group-form__field.clearfix
    .group-form__field--left
      = f.label :name, "グループ名", class: "group-form__label"
    .group-form__field--right
      =f.text_field :name, placeholder: "グループ名を入力してください", class: "group-form__input"

  .group-form__field.clearfix
    .group-form__field--left
      = f.label "チャットメンバーを追加", class: "group-form__label"
    .group-form__field--right
      .group-form__search.clearfix
        %input#user-search-firld.group-form__input{ placeholder: '追加したいユーザー名を入力してください', type: 'text' }
      #user-search-result

  .group-form__field.clearfix
    .group-form__field--left
      = f.label "チャットメンバー", class: "group-form__label"
    .group-form__field--right
      #group-users
        - group.users.each do |user|
          .group-user.clearfix.js-chat-member{ id: "chat-group-user-#{user.id}" }
            %input{ name: 'group[user_ids][]', type: 'hidden', value: "#{user.id}" }
            %p.group-user__name
              = user.name
            %a.user-search-remove.group-user__btn.group-user__btn--remove.js-remove-btn 削除

  .group-form__field.clearfix
    .group-form__field--left
    .group-form__field--right
      = f.submit "Save",class: "group-form__action-btn"
